extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js

block content
  nav
    div(class='nav-container')
      div
        a(href='/') Do The Thing
      div
        a(href='/login') Log In
      div
        a(href='/signup') Sign up for free
      div
        a(onclick="window.location.href='/demo'") Demo User

  main
    div(class='main-container')
      div(class='tagline')
        h1 Be
          i  well-armed
          |  to tackle the to-do!
        a(href='/signup') Sign up for free
      div(class='image-container')
  footer
    div(class='footer-container')
      a(href='https://github.com/Keipara') Kiara
      a(href='https://github.com/LakshmiPriyaPrakash') Lakshmi
      a(href='https://github.com/nevinchow') Nevin
