extends layout

append head
    link(rel="stylesheet" href="/stylesheets/task.css")
    script(src="javascripts/search.js" type="module" defer)
    script(src="javascripts/index.js" type="module" defer)

block content
    nav
        div(class='nav-container')
            div
                a(href='localhost:8080/tasks')
                    img.image(class="logo" src="blue-w-black-outline.png")
            div
                input(type="text" name="search" id='search-box' placeholder= "Search tasks")
                button(action="submit" id='search-button') Search
            div
                a(class='button', href='/logout') Log out

    div(class='main-container')
        div(class='list-container')
            form(action="/tasks/add-list" method="post")
                input(type="hidden" name="_csrf" value=csrfToken)
                div(class="listButtons")
                    button(id="addList" action="submit" value="list") Lists
                    button( value="list") +
                div(class="list-list")


        div(class='task-container')
            form(action="/tasks/task-list" method="post")
                h3 All Tasks
                button(class="deleteButton" action="" value="task") Delete
                a(class='button-1', href='/tasks') Incomplete
                a(class='button-2', href='/tasks') Complete
                div
                label(for="name")
                div(class="taskBarandBox")
                    input(class="addTaskbox" type="text" name="name" placeholder= "Add a task")
                    button(class="addTaskButton" action="submit" value="task") Add Task

            div(class='task-list')


        div(class='details-containter')
