extends layout

append head
    link(rel="stylesheet" href="/stylesheets/task.css")
    script(src="javascripts/index.js" type="module" defer)

block content
    nav
        div(class='nav-container')
            div
                a(href='localhost:8080/tasks')
                    img.image(class="logo" src="blue-w-black-outline.png")
            div
                input(type="text" name="search" id='search-box' value="" placeholder= "Search tasks")
                button(action="submit" id='search-button') Search
            div
                a(class='logoutbutton', href='/logout') Log Out

    div(class='main-container')

        div(class='list-container')
            form(action="/tasks/add-list" method="post" class="list-form")
                div(class="form-items")
                    input(type="text" class="list-input" name="name" placeholder="Add a list")
                    div(class="listButtons")
                        button(id="addList" action="submit" value="list") Lists
                        button( value="list" action="submit" class="add-list-button") + temp add
                    div(class="list-list")


        div(class='task-container')
            form(action="/tasks/task-list" method="post")
                a(class='button-1', href='/tasks') Incomplete
                a(class='button-2', href='/tasks') Complete
                div
                label(for="name")
                div(class="taskBarandBox")
                    input(class="addTaskbox" type="text" name="name" placeholder= "Add a task")
                    button(class="addTaskButton" action="submit" value="task") Add Task

            div(class='task-list')


        div(class='details-containter')
            div(class='list-summary-container')
                    div(class="listName") Test
                    div(class="tasksCount")
                        div(class="tasksNumber")
                        text(class="taskInfo-1") tasks
                    div(class="completedCount")
                        div(class="completedNumber")
                        text(class="taskInfo-2") completed
                    div(class="overdueCount")
                        div(class="overdueNumber")
                        text(class="taskInfo-3") overdue

            div(class='task-edit-container') Task Details
                    div
                        input(type="text" name="name" id="task-name-input" value=task.name)
                    div
                        label(for="due") Due
                        input(type="date" name="due" id="task-due-date")
                    div
                        label(for="listId") List
                        select(name="listId" id="list-select")
                            each list in lists
                                if task.listId === list.id
                                    option(value=list.id selected)= list.name
                                else
                                    option(value=list.id)= list.name
                    div
                        label(for="description") Description
                        textarea(name="description" id="task-description")
                    div
                        input(type="submit" value="Save" id="edit-save-button")
                        input(type="submit" value="Close" id="edit-close-button")
    footer
        div(class='task-footer-container')
            a(href='https://github.com/Keipara') Kiara
            a(href='https://github.com/LakshmiPriyaPrakash') Lakshmi
            a(href='https://github.com/nevinchow') Nevin
