form(class= "form" action="/tasks/edit" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        div
            label(class= "username-label" for="username")
            input(type="text" name="username" value=username placeholder="Username")
        div
            label(class= "password-label" for="password")
            input(type="password" name="password" value=password placeholder="Password")
        div
            label(class=divClasses)
            input(type="checkbox" value="stay-logged-in")
            span Stay logged in
        div
            a(href='placeholderforpasswordreset') Forgot password?
        input(type="submit" value="Log In")
