
.main-container {
    display: grid;
    grid-template-areas: "mascot login" ;
    height: 100vh;

}

.logo-quote-container {
    grid-area: mascot;
    background-color: rgb(131, 52, 151);
    width: 90%;
}

.sign-up-form-container {
    grid-area: login;
    width: 50%;
    display:flex;
    flex-direction: column;

}

a {
    text-decoration: none;
}


.logo {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    width: fit-content;
}

#logoImage {
    width: 200px;
    height: 150px;
    margin-left: 100px;

}

#logo-link {
    width:0%;
}


#app-name {
    color: white;
    margin-left: 125px;
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
    width:fit-content;
}

.sign-up-button {
    float: right;
    margin: 50px 10px;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    color: gray;
    background-color: rgb(205, 237, 248);
    border-radius: 5%;
}

.signup-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 90px;

}

.welcome-text {
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.errors-div{
    background-color: rgb(247, 225, 225);
    color: rgb(255, 73, 73);
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0 10px 10px 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

ul {
    list-style-position: inside;
 }


.username-div {
    width: 100%

}

.password-div {
    margin-top: 20px;
    width: 100%

}

.username-label {
    padding: 10px;
    font-size: 20px;
    width: 70%
}

.password-label {
    padding: 10px;
    font-size: 20px;
    width: 70%
}

.login-button-div {
    margin-top: 20px;
    margin-left: 10px;
    width: 70%;
}

.login-button {
    width: 100%;
    margin: 10px;
    font-size: 20px;
    padding: 10px;
}
