.main-container {
    display: flex;
    flex-direction: row

}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-summary-container {
    display: block;
}

.task-edit-container {
    display: block;
}

.task-tag {
    text-decoration: none;
}
