.main-container {
    display: flex;
    flex-direction: row;
    background-color: #e4eef8;
    height: 100%;

}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: #0060bf;
    color: whitesmoke;
}

.task-container {
    background-color: white;
    top: 5px;
    border-radius: 5px;
    width: 50%;

}

.task-div {
    border-bottom:1px dotted gray;
}

.button-1 {
    display: inline-flex;
    margin: 5px;
    position: relative;
    left: 305px;
    font-size: 10px;
}
.button-2 {
    display: inline-flex;
    position: relative;
    left: 315px;
    font-size: 10px;
}

.list-container {
    display: flex;
    flex-direction: column;
    width: 10%;

}

#search-button {
    position: absolute;
    left: 275px;
    top: 10px;
}

#search-box {
    position: absolute;
    left: 110px;
    border-radius: 3px;
    border-width: 1px;
    top: 10px;
}

.task {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 1px;
    font-size: 10px;
    font-weight: bold;
}

.taskBarandBox{
    padding: 5px;
    border-top: 1px solid;
}
 .addTaskbox {
     height: 30px;
     width: 450px;
     display: block;
     margin: 5px
 }

.addTaskButton {
    display: block;
    position: relative;
    left: 360px
}

.logo {
    height: 65px;
    width: 75px;
    position: relative;
    top: 50px
}

.listButtons {
    position: block;
    top: 75px
}

.deleteButton {
    position: relative;
    left: 5px;
    margin: 3px;
    height: 15px;
    font-size: 10px
}


.list-list {
    position: relative
}

.form-items {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.list-summary-container {
    display: block;
    width: 100%;
}

.task-edit-container {
    display: none;
    width: 100%;

}

.task-list {
    display: block;
    width: 100%;
}

.complete-tasks {
    display: none;
    width: 100%;

}

.task-footer-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0060bf;
    color: whitesmoke;
}
