.main-container {
    display: flex;
    flex-direction: row;
    background-color: #e6d7ec;
    height: 100%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    background-color: #A155B9;
    color: whitesmoke;
}

.task-container {
    background-color: white;
    top: 5px;
    border-radius: 5px;
    width: 45%;
    height: 110vh;
    overflow: auto

}

.button-1 {
    display: inline-flex;
    padding: 5px;
    font-size: 17px;
    border-right: 1px solid;
}
.button-2 {
    display: inline-flex;
    font-size: 17px;
    padding: 5px;

}

.list-container {
    display: flex;
    flex-direction: column;
    width: 18%;
    margin-left: 10px;
}

#search-button {
    position: absolute;
    left: 275px;
    top: 4px;
    height: 20px
}

#search-box {
    position: absolute;
    left: 110px;
    border-radius: 3px;
    border-width: 1px;
    top: 5px;
    height: 18px
}

.task {
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-size: 10px;
    font-weight: bold;
}

.taskBarandBox{
    padding: 5px;
    border-top: 1px solid;
    position: relative;
    top: 10px
}
 .addTaskbox {
     height: 40px;
     width: 1050px;
     display: block;
     margin: 5px;
     border-radius: 3px;
     border-width: 1px;
     font-size: 18px;
 }

.addTaskButton {
    height: 30px;
    width: 70px;
    margin-left: 85%;
    font-size: 12px;
    background-color: #e6d7ec;
    border: none;
    color: #ae3cdb;
    border-radius: 2px;
}

.addTaskButton:hover {
    background-color: #ae3cdb;
    color: #e6d7ec;
}

.logo {
    height: 100px;
    width: 110px;
    top: 30px;
}

.listButtons {
    position: block;
    top: 75px
}

.deleteButton {
    position: relative;
    left: 5px;
    margin: 3px;
    height: 15px;
    font-size: 10px
}


.list-list {
    position: relative;
    bottom: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.form-items {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.list-summary-container {
    display: block;
    width: 100%;
    margin: 20px;
    position: relative;
    top: 15px
}

.task-edit-container {
    display: none;
    width: 100%;
    position: relative;
    left: 5px;
}

.task-list {
    display: block;
    width: 100%;
}

.complete-tasks {
    display: none;
    width: 100%;
}

.complete-task-div {
    position: relative;

}

.task-footer-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0060bf;
    color: whitesmoke;
}


.edit-task-para {
    border-bottom: 1px dotted;
    font-size: 20px;
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.incomplete-complete-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 75%;
}

.tasksCount {
    display: flex;
    justify-content: center;
    background-color: #ddb7ec;
    height: 70px;
    width: 70px;
    display: inline-flex;
    margin-top: 5px;
}

.completedCount {
    background-color: #ddb7ec;
    height: 70px;
    width: 70px;
    display: inline-flex;

}

.overdueCount {
    background-color: #ddb7ec;
    height: 70px;
    width: 70px;
    display: inline-flex;
    margin-left: 5px;
    margin-right: 5px;
}

.taskInfo-1 {
    position: relative;
    font-size: 14px;
    border: none;
    top: 35px;
    right: 17px;
}


.taskInfo-2 {
    position: relative;
    font-size: 14px;
    border: none;
    top: 35px;
    right: 10px;
    color: rgba(0, 0, 0, 0.842);
}

.taskInfo-3 {
    position: relative;
    font-size: 14px;
    border: none;
    top: 35px;
    right: 8px;
}


.tasksNumber {
    position: relative;
    top: 5px;
    right: -7px;
    font-size: 25px;
    color: #0060bf;
}

.completedNumber {
    position: relative;
    top: 5px;
    font-size: 25px;
    left: 6px;
    color: rgba(0, 0, 0, 0.842);
}

.overdueNumber {
    position: relative;
    top: 5px;
    left: 7px;
    font-size: 25px;
    color: #d74a00;
}

.logoutbutton {
    border: 1px red solid;
    background-color: red;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    top: 8px;
    right: 20px;
    text-decoration: none;
    padding: 3px;
}

.add-list-button-container {
    display: flex;
    flex-direction: column;
}

.list-input {
    display: inline-flex;
    width: 70%;
    border-radius: 2px;
    border: 1px solid;
    position: relative;
    left: 3px;
    margin-top: 12%;
    height: 10%;
    font-size: 20px;
}
 .add-list-button {
    height: 30px;
    width: 30px;
    border: 1px solid #ae3cdb;
    border-radius: 3px;
    background-color: #e6d7ec;
    padding: 0px;
    color: #ae3cdb;
    text-align: center;
    margin-left: 73%;
    position: relative;
    bottom: 9.5%;
 }

 .add-list-button:hover {
    background-color: #ae3cdb;
    color: #e6d7ec;
 }

.delete-button {
    height: 25px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ae3cdb;
    border-radius: 3px;
    background-color: #e6d7ec;
    color: #ae3cdb;
 }

 .delete-button:hover {
    background-color: #ae3cdb;
    color: #e6d7ec;
 }

.complete-task-delete-btn {
    height: 25px;
    font-size: 16px;
    position: absolute;
    left: 1000px;
    text-align: center;
    border: 1px solid #ae3cdb;
    border-radius: 3px;
    background-color: #e6d7ec;
    color: #ae3cdb;
}

.complete-task-delete-btn:hover {
    background-color: #ae3cdb;
    color: #e6d7ec;
 }

.complete-task-div {
    position: relative;
    top: 10px;
}

.task-div {
    position: relative;
    top: 10px
}

.task-edit-container {
    position: relative;
    top: 12px;
}

.listNames {
    font-size: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    left: 5px;
}

.listNames:hover {
    background-color: #ae3cdb
}

.delete-list-button {
    border: none;
    background-color: #e6d7ec;
}

#search-button {
    background: none;
    color: black;
    font-size: 16px;
    border: none;
    border-left: none;
    cursor: pointer;
    margin-left: 16.5%;
    margin-top: 0.15%;
  }

#search-box {
    margin-left: 15%;
    font-size: 16px;
    height: 25px;
  }


#edit-save-button,#edit-close-button {
    position: relative;
    top: 50px;
    margin: 5px;
}

#task-name-input {
    width: 400px;
    border-radius: 3px;
    border: 1px solid;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
}


#task-due-date, #list-select, #complete-select, #task-description {
    margin: 8px;
}

#task-description {
    position: relative;
    top: 10px;
    width: 325px;
    height: 100px;
}



.title {
    text-decoration: none;
    color: black;
    font-family:"Leckerli One";
    display: flex;
    margin-top: 15%;
    font-size: 25px;
}
.logo-container {
    display: flex;
    margin-top: 1.5%;
    margin-left: 1%;
}

.details-containter {
    margin-left: 2%;
}
